<h1>Geocode Results</h1>

<%= form_tag("", method: "get") do %>
  <%= label_tag(:q, "Search for (regex):") %>
  <%= text_field_tag(:q, @q) %>
  <%= submit_tag("Search") %>
<% end %>

<%= link_to "All", geocode_results_path %>
<%= link_to "Ambiguous", geocode_results_path(ambiguous: true) %>
<%= link_to "Failed", geocode_results_path(failed: true) %>
<%= link_to "Non Political", geocode_results_path(non_political: true) %>

<%= paginate @geocode_results %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Address</th>
      <th>Canton</th>
      <th>Response</th>
      <th>Associated runners count</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @geocode_results.each do |geocode_result| %>
      <tr>
        <td><%= geocode_result.address %></td>
        <td><%= geocode_result.canton %></td>
        <td><%= geocode_result.response %></td>
        <td><%= geocode_result.runners_count %></td>
        <td><%= link_to 'Show', geocode_result %></td>
        <td><%= link_to 'Destroy', geocode_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @geocode_results %>
