<h1><%= t '.search_for_runners' %></h1>
<% if @search_term %>
    <script>
      window.initial_search_term = '<%= @search_term %>'
    </script>
<% end %>
<div class="row">
  <div class="col-lg-9">
    <table class="table table-hover dt-responsive" id="runners-datatable" width="100%"
           data-source="<%= runners_path(format: :json) %>">
      <thead>
      <tr>
        <th class="all"><%= Runner.human_attribute_name :first_name %> </th>
        <th class="all"><%= Runner.human_attribute_name :last_name %> </th>
        <th><%= Runner.human_attribute_name :club_or_hometown %> </th>
        <th class="desktop"><%= Runner.human_attribute_name(:sex).html_safe %> </th>
        <th class="desktop"><%= Runner.human_attribute_name(:nationality).html_safe %> </th>
        <th><%= Runner.human_attribute_name(:runs_count).html_safe %> </th>
        <th><%= Runner.human_attribute_name(:best_time).html_safe %> </th>
        <th class="all col-sm-2"></th>
      </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>
  <div class="col-lg-3">
    <%= panel heading: (t('.remembered_renners') + content_tag(:i, '', class: 'fa fa-star fa-pull-right fa-2x')).html_safe,
              context: :info, id: 'remembered-runners-panel' do %>
        <div class='panel-body'>
          <%= link_to t('.show_remembered_runners'), url_for(action: 'show_remembered', ids: []),
                      id: 'remembered-runners-link', class: 'btn btn-primary btn-block' %>
          <%= link_to t('.forget_remembered_runners'), '#', data: {forget_runners: true},
                      class: 'btn btn-danger btn-block' %>
          <% if admin_signed_in? %>
              <%= link_to t('.merge_remembered_runners'), new_merge_runners_request_path,
                          class: 'btn btn-default btn-xs btn-block' %>
          <% end %>
        </div>
    <% end %>
  </div>
  <%# Make user aware of search box after some time. %>
  <script>
    setTimeout(function () {
      // Add tooltip to search box
      var search_box = $(".dataTables_filter input");
      search_box.tooltip({ title: '<%= t('.search_hint') %>'});
      search_box.effect('highlight', {}, 3000);
    }, 2000);
  </script>
</div>