<% content_for :page_title, t('layouts.application.title_with_runner', runner: @runner.name) %>
<h1><%= @runner.name %></h1>
<dl class="row">
  <% if current_admin %>
    <dt class="col-sm-3"><%= Runner.human_attribute_name :birth_date %></dt>
    <dd class="col-sm-9"><%= I18n.l @runner.birth_date %></dd>
  <% end %>
  <dt class="col-sm-3"><%= Runner.human_attribute_name(:sex).html_safe %></dt>
  <dd class="col-sm-9"><%= @runner.sex %></dd>
  <dt class="col-sm-3"><%= Runner.human_attribute_name :club_or_hometown %></dt>
  <dd class="col-sm-9"><%= @runner.club_or_hometown %></dd>
</dl>

<h2><%= t('.runs') %></h2>

<% if @runner.runs.empty? %>
    <%= t('.no_runs_available') %>
<% else %>
    <div id="runs_chart" style="width:100%; height:300px;"></div>
    <%= high_chart("runs_chart", @chart)  %>
    <table class="table table-striped" id="show-runners-datatable">
      <thead>
      <th><%= Run.human_attribute_name :run_date %></th>
      <th><%= Run.human_attribute_name :category %></th>
      <th><%= t('show_runner_chart.at_2_2_km') %></th>
      <th><%= t('show_runner_chart.at_5_km') %></th>
      <th><%= t('show_runner_chart.at_10_km') %></th>
      <th><%= t('show_runner_chart.at_12_5_km') %></th>
      <th><%= Run.human_attribute_name :duration %></th>
      <th><%= t('.external_links') %></th>
      </thead>
      <% @runner.runs.each do |run| %>
          <tr>
            <td><%= I18n.l run.run_day.date %></td>
            <td><%= link_to run.category.name, category_path(run.category, { highlighted_run_id: run.id })%></td>
            <td><%= run.interim_time_formatted(0) %></td>
            <td><%= run.interim_time_formatted(1) %></td>
            <td><%= run.interim_time_formatted(2) %></td>
            <td><%= run.interim_time_formatted(3) %></td>
            <td><%= run.duration_formatted %></td>
            <td><%= run.alpha_foto_link %></td>
          </tr>
      <% end %>
    </table>
    <script>
      $('#show-runners-datatable').DataTable({
        filter: false,
        paging: false,
        info: false,
        responsive: true,
        columnDefs: [
          { type: '<%= I18n.locale %>_date', targets: 0 },
          { responsivePriority: 1, targets: [0, 4] },
          { responsivePriority: 2, targets: [2, 3] },
        ],
        order: [[0, "desc"]]
      });
   </script>
<% end %>
