<h1><%= t('.overview_multiple_runners_and_years') %></h1>
<div id="runs_chart" style="width:100%; height:300px;"></div>
<%= high_chart("runs_chart", @chart)  %>
<table class="table table-striped" id="compare-runners-datatable">
  <thead>
  <tr>
    <th><%= Runner.human_attribute_name(:name) %></th>
    <th><%= Runner.human_attribute_name(:club_or_hometown) %></th>
    <th><%= Runner.human_attribute_name(:nationality).html_safe %></th>
    <th><%= Runner.human_attribute_name(:runs_count).html_safe %></th>
    <th><%= Runner.human_attribute_name(:mean_time) %></th>
    <th><%= Runner.human_attribute_name(:best_time).html_safe %></th>
  </tr>
  </thead>
  <tbody>
  <% @runners.each do |runner| %>
      <tr>
        <td><%= link_to runner.name, runner %></td>
        <td><%= runner.club_or_hometown %></td>
        <td><%= runner.nationality %></td>
        <td><%= runner.runs_count %></td>
        <td><%= runner.mean_run_duration %></td>
        <td><%= runner.fastest_run_duration %></td>
      </tr>
  <% end %>
  </tbody>
</table>