<%= merged_attributes_table(@merge_runners_request) %>

<div id="runs_chart" style="width:100%; height:300px;"></div>
<%= high_chart("runs_chart", @chart)  %>

<%= link_to 'Edit', edit_merge_runners_request_path(@merge_runners_request) %> |
<%= link_to 'Approve', approve_merge_runners_request_path(@merge_runners_request) %> |
<%= link_to 'Next', merge_runners_request_path(@next) if @next %> |

<%= link_to 'All', merge_runners_requests_path %>
