<%= simple_form_for(@feedback) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :email %>
    <%= f.input :text, :input_html => {:rows => 10} %>

    <div class="<%= 'has-error' if @feedback.errors[:recaptcha] %>">
      <%= recaptcha_tags %>
      <% if @feedback.errors[:recaptcha] %>
          <span class="help-block"><%= @feedback.errors[:recaptcha].first %></span>
      <% end %>
    </div>
    <%= f.button :submit %>
<% end %>
