<h1>Listing Runs</h1>
<%= paginate @runs %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Duration</th>
      <th>Runner</th>
      <th>Nationality</th>
      <th>Category</th>
      <th>Year</th>
    </tr>
  </thead>

  <tbody>
    <% @runs.each do |run| %>
      <tr>
        <td class="col-xs-1"><%= run.duration_formatted %></td>
        <td><%= link_to(run.runner.name, run.runner) %></td>
        <td><%= run.runner.nationality %></td>
        <td><%= link_to(run.category.name, category_path(run.category,  { highlighted_run_id: run.id })) %></td>
        <td><%= run.run_day.date.year %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @runs %>
