<% content_for :page_title, t('.details_for_category', category: @category.name) %>
<%= render 'categories/category_selector' %>

<h1><%= t('.details_for_category', category: @category.name) %></h1>
<h2>Histogram der Laufzeiten</h2>
Die Laufzeiten der letzten Jahre der Läuferinnen bzw. Läufer aus der Kategorie <%= @category.name %>
aggregiert zu einem Histogram.
<div id="hist" style="width:100%; height:500px;"></div>
<%= high_chart("hist", @hist) %>


<h2>Zeitreihen über die letzten Jahre</h2>

<h3>Laufzeiten</h3>
Veränderungen der Laufzeiten der Kategorie <%= @category.name %> über die letzten Jahre.
Sind Läufer bzw. Läuferinnen eher schneller oder eher langsamer geworden? Schauen Sie nach!
<div id="duration_chart" style="width:100%; height:500px;"></div>
<%= high_chart("duration_chart", @chart) %>
